/* Import the font you want to use for the link */
@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Dark theme variables */
.dark {
  --text-color: #ffffff;
}

/* Light theme variables */
.light {
  --text-color: #333333;
}
.container {
  width: 80%;
  margin: 0.5rem auto;
  font-family: "Roboto", sans-serif;
}
hr {
  margin: 0.625rem;
  height: 0.0625rem;
  border: none;
  background-color: #3bb19b;
}
.hero_section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.heading {
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 1rem 0; /* 16px 0 */
}
.hero {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* Define the styles for the link container */
.link_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Define the styles for the link */
.link {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
  background-color: #10b981;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Add some hover effects for the link */
.link:hover {
  color: #10b981;
  background-color: white;
  box-shadow: 0 0 10px #10b981;
}

.para {
  color: var(--text-color);
  font-size: 1.25rem; /* 20px */
  text-align: center;
  margin: 0.625rem 0;
}
.blogs_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
/* Add this to your existing CSS or create a new stylesheet */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 37.5rem) {
  .heading {
    font-size: 2rem; /* 32px */
    margin: 0.75rem 0; /* 12px 0 */
  }

  .para {
    font-size: 1rem; /* 16px */
    margin: 0.25rem 0; /* 4px 0 */
  }
}

/* Media query for small screens */

@media screen and (max-width: 28.125rem) {
  /* 450px */
  .heading {
    font-size: 1.5rem; /* 24px */
    margin: 0.5rem 0; /* 8px 0 */
  }

  .para {
    font-size: 0.875rem; /* 14px */
    margin: 0.125rem 0; /* 2px 0 */
  }
}
