/* Dark theme variables */
.dark {
  --text-color: #ffffff;
  --border-color: #424242;
}

/* Light theme variables */
.light {
  --text-color: #333333;
  --border-color: #cccccc;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  height: 100%;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--border-color);
}

.cardimg {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
  margin: 10px 0;
}

.description {
  font-size: 1rem;
  color: var(--text-color);
  margin: 10px 5px;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.link {
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  background-color: #0070f3;
  padding: 10px 15px;
  margin: 0.625rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  min-width: 100px;
}

.link:hover {
  background-color: #0062cc;
}
