/* Import the font you want to use for the link */
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* Dark theme variables */
.dark {
  --text-color: #ffffff;
  --border-color: #424242;
}

/* Light theme variables */
.light {
  --text-color: #333333;
  --border-color: #cccccc;
}
.container {
  width: 80%;
  font-family: "Roboto", sans-serif;
  margin: 0.5rem auto;
  padding-bottom: 2.5rem;
}
.card_container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2.5rem;
}
hr {
  margin: 0.625rem;
  height: 0.0625rem;
  border: none;
  background-color: #3bb19b;
}
.heading {
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 1rem 0;
}
.text {
  color: var(--text-color);
  font-size: 1.25rem; /* 20px */
  text-align: center;
  margin: 0.5rem 0; /* 8px 0 */
}

@media screen and (max-width: 800px) {
  .heading {
    font-size: 2rem; /* 32px */
    margin: 0.75rem 0; /* 12px 0 */
  }

  .para {
    font-size: 1rem; /* 16px */
    margin: 0.25rem 0; /* 4px 0 */
  }
}

@media screen and (max-width: 28.125rem) {
  /* 450px */
  .heading {
    font-size: 1.5rem; /* 24px */
    margin: 0.5rem 0; /* 8px 0 */
  }

  .para {
    font-size: 0.875rem; /* 14px */
    margin: 0.125rem 0; /* 2px 0 */
  }
}
