/* Dark theme variables */
.dark {
  --text-color: #ffffff;
}

/* Light theme variables */
.light {
  --text-color: #333333;
}
.container {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding-bottom: 2.5rem;
  width: 80%;
}
/* Card container styles */
.card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

/* Card styles */
.card {
  flex: 1 1 calc(50% - 16px);
  max-width: calc(50% - 16px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.2s;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card img:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

/* Responsive styles for small screens */
@media (max-width: 768px) {
  .card {
    flex: 1 1 100%; /* Show 1 project on small screens */
    max-width: 100%;
  }
}

hr {
  margin: 0.625rem;
  height: 0.0625rem;
  border: none;
  background-color: #3bb19b;
}
.heading {
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 1rem 0;
}
.text {
  color: var(--text-color);
  font-size: 1.25rem; /* 20px */
  text-align: center;
  margin: 0.5rem 0; /* 8px 0 */
}

@media screen and (max-width: 800px) {
  .heading {
    font-size: 2rem; /* 32px */
    margin: 0.75rem 0; /* 12px 0 */
  }

  .para {
    font-size: 1rem; /* 16px */
    margin: 0.25rem 0; /* 4px 0 */
  }
}

@media screen and (max-width: 480px) {
  /* 450px */
  .heading {
    font-size: 1.5rem; /* 24px */
    margin: 0.5rem 0; /* 8px 0 */
  }

  .para {
    font-size: 0.875rem; /* 14px */
    margin: 0.125rem 0; /* 2px 0 */
  }
}
